{% extends "SaaSInfoManagerCoreBundle:Default:base.html.twig" %}

{% block content %}

<div class="page-header row">

    <div class="col-lg-12 h3">
        <span class="glyphicon glyphicon-user"></span>
        <span>{{ 'Clients'|trans }}</span>
        <button class="btn btn-success" id="add">{{ 'Add'|trans }}</button>
    </div>
</div>

<div class="col-lg-4">
    <div class="list-group">

        <input type="text" id="search" class="form-control" placeholder="{{ 'Search'|trans }}&hellip;" autocomplete="off" />
        <br />

{% if clientList|length > 0 %}
    {% for client in clientList %}

        <input type="hidden" class="search-index" value="{{ client.name|lower }} {{ client.email|lower }} {{ client.country.name }}" />

        <a href="{{ path('saas_info_manager_client_info', { 'id': client.id }) }}" class="list-group-item search-list-item load-via-ajax" data-target="saas_im_client_form">

            <span class="h4 list-group-item-heading">{{ client.name }}</span>

            <button type="button" class="close" aria-hidden="true" title="{{ 'Deactivate'|trans }}" data-toggle="modal" data-target="#clientDeactivationModal" data-entity_action="deactivateClient" data-entity_id="{{ client.id }}">&times;</button>

            <p class="list-group-item-text small">
                <span class="glyphicon glyphicon-phone-alt small"></span>
                <span>{{ client.contactNumber }}</span>
                <span class="glyphicon glyphicon-envelope small"></span>
                <span>{{ client.email }}</span>
                <br />
                <span class="glyphicon glyphicon-globe small"></span>
                <span>{{ client.country.name }}</span>
            </p>

        </a>

    {% endfor %}
        <a href="#" class="list-group-item list-group-item-info" id="noResultsNotice">
            <h4 class="list-group-item-heading">{{ 'No matching results.'|trans }}</h4>
            <p class="list-group-item-text">{{ 'Try a differnt search.'|trans }}</p>
        </a>

{% else %}
        <a href="#" class="list-group-item list-group-item-info">
            <h4 class="list-group-item-heading">{{ 'No clients found.'|trans }}</h4>
            <p class="list-group-item-text">{{ 'Click the "Add" button to add new clients.'|trans }}</p>
        </a>
{% endif %}
    </div>
</div>

<div class="col-lg-4">
{{ form_start(clientForm, { 'attr': { 'role': 'form', 'data-entity_id': '', 'data-originator': 'self', 'class': 'submit-via-ajax' } }) }}
{{ form_widget(clientForm._token) }}
{{ form_widget(clientForm.status) }}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 id="clientName" class="panel-title">{{ form_widget(clientForm.name, { 'attr': { 'class': 'form-control editable editable-style', 'placeholder': 'Client Name'|trans } }) }}</h3>
        </div>
        <div class="panel-body">
            <div class="alert"></div>
            {{ form_row(clientForm.email, { 'label': 'Email'|trans, 'attr': { 'class': 'form-control editable editable-style', 'placeholder': 'General Email Address'|trans } }) }}
            {{ form_row(clientForm.contactNumber, { 'label': 'Contact Number'|trans, 'attr': { 'id': 'saas_im_client_form_contact_number', 'class': 'form-control editable editable-style', 'placeholder': 'General Contact Number'|trans } }) }}
            {{ form_row(clientForm.address1, { 'label': 'Address'|trans, 'attr': { 'class': 'form-control editable editable-style', 'placeholder': 'Address 1'|trans } }) }}
            {{ form_widget(clientForm.address2, { 'attr': { 'class': 'form-control editable editable-style', 'placeholder': 'Address 2'|trans } }) }}
            {{ form_widget(clientForm.city, { 'attr': { 'class': 'form-control editable editable-style', 'placeholder': 'City'|trans } }) }}
            {{ form_row(clientForm.countryCode, { 'label': 'Country'|trans, 'attr': { 'id': 'saas_im_client_form_country_code', 'class': 'form-control editable editable-style' } }) }}
        </div>
        <div class="panel-footer text-right">
            <div class="">
            {{ form_row(clientForm.submit, { 'attr' : { 'class': 'btn btn-primary disabled' } }) }}
            </div>
        </div>
    </div>

{{ form_end(clientForm, { 'render_rest': false }) }}
</div>
<div class="col-lg-4">
    <div class="list-group" data-container="contacts_PAGE_PANEL">
        <div class="list-group-item">
            <strong>{{ 'Contacts'|trans }}</strong>
            <span class="badge" data-context="contacts_META_count">0</span>
        </div>
        <a href="#" class="list-group-item" data-toggle="modal" data-target="#clientContactsModal" data-container="contacts_CONTAINER_list_item">

            <strong class="list-group-item-text">
                <span data-context="contacts_ATTR_first_name"></span>
                <span data-context="contacts_ATTR_last_name"></span>
            </strong>
            <br />
            <span class="list-group-item-text" data-context="contacts_ATTR_job_title"></span>
            <br />
            <p class="list-group-item-text small">
                <span class="glyphicon glyphicon-phone-alt small"></span>
                <span data-context="contacts_ATTR_contact_number"></span>
                <span class="glyphicon glyphicon-envelope small"></span>
                <span data-context="contacts_ATTR_email"></span>
            </p>
        </a>

        <a href="#" class="list-group-item list-group-item-info" data-container="contacts_CONTAINER_no_results_notice">
            <h4 class="list-group-item-heading">{{ 'No contacts found.'|trans }}</h4>
            <p class="list-group-item-text">{{ 'Click the "Add" button to add new contacts.'|trans }}</p>
        </a>

        <div class="list-group-item text-right">
            <button class="btn btn-xs btn-success" data-context="contacts_BTN_add">{{ 'Add'|trans }}</button>
            <button class="btn btn-xs btn-primary" data-context="contacts_BTN_view_all" data-toggle="modal" data-target="#clientContactsModal">{{ 'View All'|trans }}</button>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <strong>{{ 'Product Billing'|trans }}</strong>
            <span class="badge">1</span>
        </div>
        <a href="#" class="list-group-item load-via-ajax" data-target="#">

            <button type="button" class="close" aria-hidden="true" title="{{ 'Decomission'|trans }}" data-toggle="modal" data-target="#clientDeactivationModal" data-entity_id="">&times;</button>
            <strong class="list-group-item-text">OrangeHRM Professional</strong>

            <p class="list-group-item-text small">
                <span class="glyphicon glyphicon-info-sign small"></span>
                <span>Version 4.0.1. Includes customization</span>
                <br />
                <span class="glyphicon glyphicon-calendar small"></span>
                <span>Subscription ends on 2015-03-31</span>
                <br />
                <span class="glyphicon glyphicon-cog small"></span>
                <span>Hosted on cloud</span>
            </p>
        </a>
        <div class="list-group-item text-right">
            <button class="btn btn-xs btn-success">{{ 'Add'|trans }}</button>
            <button class="btn btn-xs btn-primary">{{ 'View All'|trans }}</button>
        </div>
    </div>

    <div class="list-group">
        <div class="list-group-item">
            <strong>{{ 'Activity Log'|trans }}</strong>
        </div>

        <div class="list-group-item">
            <dl class="dl-horizontal small">
                <dt>2014-02-28</dt>
                <dd>Upgraded to verion 4.0.3</dd>
                <dt>2014-02-25</dt>
                <dd>Upgrade request confirmed by Sales</dd>
                <dt>2014-02-25</dt>
                <dd>Contacted sales for the upgrade confirmation</dd>
                <dt>2014-02-20</dt>
                <dd>Received the payment for support subscription</dd>
                <dt>2014-02-18</dt>
                <dd>Sent notification to renew support plans</dd>
            </dl>
        </div>

        <div class="list-group-item text-right">
            <button class="btn btn-xs btn-primary">{{ 'View Complete Log'|trans }}</button>
        </div>
    </div>
</div>

<div class="modal fade" id="clientDeactivationModal">
    {{ form_start(clientDeactivationForm, { 'attr': { 'role': 'form', 'data-entity_id': '', 'data-originator': '#clientDeactivationModal', 'class': 'submit-via-ajax' } }) }}
    {{ form_widget(clientDeactivationForm._token) }}
    {{ form_widget(clientDeactivationForm.id) }}

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'Confirm Client Deactivation'|trans }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'Do you really want to deactivate this client?'|trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                {{ form_widget(clientDeactivationForm.submit, { 'label': 'Confirm Deactivation'|trans, 'attr': { 'class': 'btn btn-danger' } } ) }}
            </div>
        </div>
    </div>

    {{ form_end(clientDeactivationForm, { 'render_rest': false }) }}
</div>

<div class="modal fade" id="clientContactsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'Contacts'|trans }}: <span>Client Name</span></h4>
            </div>
            <div class="modal-body">
                <div class="list-group" data-container="contacts_MODAL_PANEL">

                    <div class="list-group-item" data-target="#" data-container="contacts_CONTAINER_list_item">
                        <button type="button" class="close" aria-hidden="true" title="{{ 'Deactivate'|trans }}" data-toggle="modal" data-target="#clientDeactivationModal" data-entity_action="removeClientContact" data-entity_id="">&times;</button>

                        <strong class="list-group-item-text">
                            <span data-context="contacts_ATTR_first_name"></span>
                            <span data-context="contacts_ATTR_last_name"></span>
                        </strong>
                        <br>
                        <span class="list-group-item-text" data-context="contacts_ATTR_job_title"></span>
                        <br>
                        <p class="list-group-item-text">
                            <span class="glyphicon glyphicon-phone-alt small"></span>
                            <span data-context="contacts_ATTR_contact_number"></span>
                            <span class="glyphicon glyphicon-envelope small"></span>
                            <span data-context="contacts_ATTR_email"></span>
                        </p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'Save'|trans }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<style type="text/css">
    .editable-style {
        border-color: transparent;
        background-color: transparent;
        box-shadow: none;
    }

    .panel-title input {
        font-weight: bold;
        font-size: larger;
    }

    .alert-heading {
        padding-left: 4%;
    }
</style>
<script type="text/javascript">
    var subject = null;

    $(document).ready(function() {
        $('#noResultsNotice').hide();
        $('a[data-container$="_CONTAINER_list_item"]').hide();
        $('button[data-context$="_BTN_add"]').prop('disabled', true);
        $('button[data-context$="_BTN_view_all"]').hide();

        $('#search').on('keyup', function() {
            var key = $(this).val();

            $('.search-index').each(function() {
                if ($(this).val().toLowerCase().indexOf(key) === -1) {
                    $(this).next().hide();
                } else {
                    $(this).next().show();
                }
            });

            if ($('.search-list-item:visible').size() === 0) {
                $('#noResultsNotice').show();
            } else {
                $('#noResultsNotice').hide();
            }
        }).on('keydown', function(e) {

        });

        $('a.search-list-item').on('click', function() {
            highlight($(this));
        });

        $('.editable').on('mouseover', function() {
            $(this).removeClass('editable-style');
        }).on('mouseout', function() {
            $(this).addClass('editable-style');
        }).on('focus', function() {
            $(this).addClass('editable-style');
        }).on('blur', function() {
            $(this).addClass('editable-style');
        }).on('change', function() {
            $('button').removeClass('disabled');
        });

        $('.load-via-ajax').on('click', function(e) {
            e.preventDefault();

            var target = $(this).data('target');

            $.getJSON($(this).attr('href'), null, function(object) {
                subject = object;

                $.each(object, function(property, value) {
                    if ($.isArray(value)) {
                        var childCount = value.length;
                        $('span[data-context="' + property + '_META_count"]').html(childCount);

                        $('button[data-context="' + property + '_BTN_add"]').prop('disabled', false);

                        if (childCount === 0) {
                            $('a[data-container="' + property + '_CONTAINER_no_results_notice"]').show();
                            $('a[data-container="' + property + '_CONTAINER_list_item"]').hide();
                            $('button[data-context="' + property + '_BTN_view_all"]').hide();
                        } else {
                            if (childCount === 1) {
                                $('button[data-context="' + property + '_BTN_view_all"]').hide();
                            } else {
                                $('button[data-context="' + property + '_BTN_view_all"]').show();
                            }

                            $('a[data-container="' + property + '_CONTAINER_no_results_notice"]').hide();
                            $('a[data-container="' + property + '_CONTAINER_list_item"]').show();
                        }

                        var pagePanel = $('div[data-container="' + property + '_PAGE_PANEL"]');
                        var modalPanel = $('div[data-container="' + property + '_MODAL_PANEL"]');
                        var listItemTemplate = modalPanel.find('div.list-group-item:first');

                        listItemTemplate.hide();
                        listItemTemplate.nextAll('div.list-group-item').remove();

                        $.each(value, function(index, childObject) {

                            var listItem = listItemTemplate.clone();

                            $.each(childObject, function(childProperty, childPropertyValue) {
                                if (index === 0 || (childObject['is_default'] !== undefined && childObject['is_default'] === true)) {
                                    pagePanel.find('span[data-context="' + property + '_ATTR_' + childProperty + '"]').html(childPropertyValue);

                                }
                                listItem.find('span[data-context="' + property + '_ATTR_' + childProperty + '"]').html(childPropertyValue);
                            });

                            listItem.show();
                            modalPanel.append(listItem);

                        });
                    } else {
                        var camelizedProperty = property.replace(/(?:\s|[_])\w/g, function(match) {
                            return match.toUpperCase();
                        }).replace(/_/g, '');
                        $('#' + target + '_' + camelizedProperty).val(value);
                    }
                });
                $('#' + target).data('entity_id', object.id);
            });
        });

        $('button[data-entity_action="deactivateClient"]').on('click', function() {
            var entityId = $(this).data('entity_id');
            $('#saas_im_client_deactivation_form').data('entity_id', entityId);
            $('#saas_im_client_deactivation_form_id').val(entityId);
        });

        $('#add').on('click', function() {
            $('#saas_im_client_form').trigger('reset');
            $('#saas_im_client_form').data('entity_id', '');
            $('#saas_im_client_form input[type="text"]:first').trigger('focus');
        });

        $('.alert').hide();

        $('.submit-via-ajax').on('submit', function(e) {
            e.preventDefault();
            var data = $(this).serialize() + '&entityId=' + $(this).data('entity_id');
            var originator = $(this).data('originator');

            $.post($(this).attr('action'), data, function(object) {
                var container = $('#saas_im_client_form').find('.alert');
                var alertHeading, containerClass, iconClass;

                if (object.type === 'success') {
                    alertHeading = '{{'Success'|trans}}';
                    containerClass = 'alert-success';
                    iconClass = 'glyphicon-ok';
                } else if (object.type === 'failure') {
                    alertHeading = '{{'Failure'|trans}}';
                    containerClass = 'alert-danger';
                    iconClass = 'glyphicon-remove';
                }

                container
                        .html('')
                        .append($('<h4>').append($('<div>').addClass('glyphicon ' + iconClass)).append($('<span>').addClass('alert-heading').html(alertHeading)))
                        .append($('<p>').html(object.content))
                        .addClass(containerClass)
                        .fadeIn(400)
                        .delay(4800)
                        .fadeOut(1000)
                        ;

                if (originator !== 'self') {
                    $(originator).modal('hide');
                }

            }, 'json');

        });

    });

    function highlight(obj) {
        obj.siblings('a').removeClass('active');
        obj.addClass('active');
    }
</script>
{% endblock %}
